

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-md-12" style="
    margin-top: 100px;
    text-align: center;">
            <h1>Welcome to BOOKSTORE Management</h1>
            <p>Hệ thống quản lý cửa hàng sách là một giải pháp phần mềm giúp chủ cửa hàng dễ dàng quản lý các hoạt động kinh doanh của cửa hàng</p>
        </div>
    </div>

</div>
