<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
   
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/OwlCarousel2/assets/owl.carousel.css" />
        <link rel="stylesheet" href="~/OwlCarousel2/assets/owl.theme.default.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-6 logo">
                    <a style="font-size: 28px;text-decoration: none;color: black;font-weight: normal;margin-left: 15px" asp-action="Index" asp-controller="Home">BOOKSTORE</a>
                    <div class="menu">
                        <ul style="display: flex;align-items: center">
                            <li><a asp-action="Cart" asp-controller="Home">Cart</a></li>
                               <li class="nav-item">
                                                        <input type="search" id="search-input" class="form-control" />
                                                    </li>
                                                    <li class="nav-item btn-search" >
                                                         <a type="button" class="btn btn-primary">
                                                            <i class="fas fa-search"></i>
                                                          </a>
                                                    </li>
                        </ul>
                    </div>
                </div>



                <div class="col-md-6 right-header">
                    <a asp-action="Logout" asp-controller="Auth">Logout</a>
                </div>


            </div>
        </div>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3 ourteam">
                    <h3>BOOKSTORE</h3>
                    <p>Our APIs and developer tools (SDKs) can be used to power up a wide range of products</p>
                </div>

                <div class="col-md-3 contact">
                    <h4>About pages</h4>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Categories</a></li>
                        <li><a href="">About us</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </div>

                <div class="col-md-3 contact">
                    <h4>Contract</h4>
                    <ul>
                        <li><a href="">Policy</a></li>
                        <li><a href="">Security</a></li>
                        <li><a href="">Terms</a></li>
                    </ul>
                </div>

                <div class="col-md-3 contact">
                    <h4>Contact</h4>
                    <ul>
                        <li><a href="">Facebook</a></li>
                        <li><a href="">Instagram</a></li>
                        <li><a href="">Gmail</a></li>
                        <li><a href="">Telegram</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
     

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/OwlCarousel2/owl.carousel.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
   
    
</body>
</html>