@{
    Layout = "_Layout";
}

@model Category
<h2>Add Category</h2>
<form asp-controller="Category" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" type="text" class="form-control" id="name">
    </div>

    <div style="margin-top:20px" class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Create</button>
            <a asp-controller="Category" asp-action="Index" class="btn btn-primary" style="margin-left:10px">List Category</a>
        </div>
    </div>
</form>