@model IEnumerable<Category>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Category
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a a asp-controller="Home" asp-action="Index"  class="dropdown-item">All Books</a></li>
    @foreach (var i in Model)
    {
      <li><a a asp-controller="Home" asp-action="Index" asp-route-categoryId="@i.Id" class="dropdown-item">@i.Name</a></li>
    }


  </ul>
</div>