@model BOOK_STORE_DEMO.Dtos.Response.BookResponse
 <div class="row gap-4">    
    
        @if (Model.Books.Count() == 0)
        {
            <div class="col-12">
                <p>Not Found Book</p>
            </div>
        }
        else
        {
            
               
                    @foreach (var book in Model.Books)
                    {
                        <a asp-controller="Home" asp-action="Detail" asp-route-bookId="@book.Id" class="col-md-3 block-product">
                            <div class="ImageCover">
                                <img src="~/Upload/images/@book.ImageCover">
                            </div>
                            <h4>Think and Grow Rich</h4>
                            <p>By Napoleon Hill</p>
                            <div class="PriceButton">
                                <p>30.000₫</p>
    
                            </div>
                        </a>
                    }
               
         
        }
         </div>
    
<div style="margin: 30px auto;text-align: center">
         <nav aria-label="Page navigation example">
             <ul class="pagination" style="display: flex;justify-content: center;margin: 30px">
                 @foreach (var i in Enumerable.Range(1, Model.TotalPages))
                 {
                     <li class="page-item @(Model.CurrentPage == i ? "active" : "") li-page" id="@i">
                         <a class="page-link">@i</a>
                     </li>
                 }
    
             </ul>
         </nav>
     
     </div>