@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}


<div class="cart-container movement-container">
    <section class="d-inline-block">
        <h2 class="font-weight-bold pt-5">Shopping Cart</h2>
        <hr />
    </section>
    <section id="cart-top" class="my-5">
        <table width="100%">
            <thead>
                <tr>
                    <td>Remove</td>
                    <td>Image</td>
                    <td>Product</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>Total</td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td><a href="#"><i class="fas fa-trash-alt"></i></a></td>
                    <td><img src="~/Image/book_1.jpg" alt="" /></td>
                    <td>
                        <h5>Nguoi tren van nguoi</h5>
                    </td>
                    <td><h5>$20</h5></td>
                    <td><input class="w-25 pl-1" value="1" type="number" /></td>
                    <td><h5>$130</h5></td>
                </tr>
                <tr>
                    <td><a href="#"><i class="fas fa-trash-alt"></i></a></td>
                    <td><img src="~/Image/book_1.jpg" alt="" /></td>
                    <td>
                        <h5>Nguoi tren van nguoi</h5>
                    </td>
                    <td><h5>$20</h5></td>
                    <td><input class="w-25 pl-1" value="1" type="number" /></td>
                    <td><h5>$130</h5></td>
                </tr>
                <tr>
                    <td><a href="#"><i class="fas fa-trash-alt"></i></a></td>
                    <td><img src="~/Image/book_1.jpg" alt="" /></td>
                    <td>
                        <h5>Nguoi tren van nguoi</h5>
                    </td>
                    <td><h5>$20</h5></td>
                    <td><input class="w-25 pl-1" value="1" type="number" /></td>
                    <td><h5>$130</h5></td>
                </tr>
            </tbody>
        </table>
    </section>

    <section id="cart-bottom">
        <div class="row box-checkout">
            <div class="total col-lg-4 col-md col-12">
                <div>
                    <h5>CART TOTAL</h5>
                    <div class="d-flex justify-content-between">
                        <h6>Total</h6>
                        <p>$215.00</p>
                    </div>
                    <div class="procceed-checkout">
                        <button class="m1-auto">PROCEED TO CHECKOUT</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
