@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<div class="text-center">
    <div class="products_container movement-container">
        <div class="product-categori">
            @await Component.InvokeAsync("RenderCategoryMenu")
        </div>
        <div class="products">
            <div class="right-product-box">
                <div class="product-item-filter">
                    <div class="title-right"><h3>All Products</h3></div>
                    <div class="toolbar-sorter-right">
                        <div class="group-sort">
                            <div class="dropdown">
                                FILTER BY PRICE
                                <span class="left-icon"></span>
                                <span class="right-icon"></span>
                                @await Component.InvokeAsync("RenderRangePrice")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class="card_item" data-name="p-1">
                        <a asp-controller="Home" asp-action="Detail">
                            <div class="image">
                                <img class="img_item" src="~/Image/book_1.jpg" alt="book" />
                            </div>
                            <div class="overview">
                                <p>Ở một góc nhân gian</p>
                                <div class="price">
                                    $15.00
                                </div>
                                <button class="btn btn_addCart">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    Add to Cart
                                </button>
                            </div>
                        </a>
                    </div>
                    <div class="card_item" data-name="p-2">
                        <a asp-controller="Home" asp-action="Detail">
                            <div class="image">
                                <img class="img_item" src="~/Image/book_2.jpg" alt="book" />
                            </div>
                            <div class="overview">
                                <p>Ở một góc nhân gian</p>
                                <div class="price">
                                    $15.00
                                </div>
                                <button type="submit" class="btn btn_addCart">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    Add to Cart
                                </button>
                            </div>
                        </a>
                    </div>
                    <div class="card_item" data-name="p-3">
                        <a asp-controller="Home" asp-action="Detail">

                            <div class="image">
                                <img class="img_item" src="~/Image/book_2.jpg" alt="book" />
                            </div>
                            <div class="overview">
                                <p>Ở một góc nhân gian</p>
                                <div class="price">
                                    $15.00
                                </div>
                                <button class="btn btn_addCart">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    Add to Cart
                                </button>
                            </div>
                        </a>
                    </div>
                    <div class="card_item" data-name="p-4">
                        <a asp-controller="Home" asp-action="Detail">
                            <div class="image">
                                <img class="img_item" src="~/Image/book_1.jpg" alt="book" />
                            </div>
                            <div class="overview">
                                <p>Ở một góc nhân gian</p>
                                <div class="price">
                                    $15.00
                                </div>
                                <button class="btn btn_addCart">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    Add to Cart
                                </button>
                            </div>
                        </a>
                    </div>
                    <div class="card_item" data-name="p-5">
                        <a asp-controller="Home" asp-action="Detail">
                            <div class="image">
                                <img class="img_item" src="~/Image/book_1.jpg" alt="book" />
                            </div>
                            <div class="overview">
                                <p>Ở một góc nhân gian</p>
                                <div class="price">
                                    $15.00
                                </div>
                                <button class="btn btn_addCart">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    Add to Cart
                                </button>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="pagination">
                    @await Component.InvokeAsync("RenderPagination")
                </div>
            </div>
        </div>
    </div>
</div>
