@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="sidebar-left">
        <div class="title-left">
            <h3>Categories</h3>
        </div>
        <div class="list-group list-group-collapse list-group-sm">
            <a href="#" class="list-group-item list-group-item-action"> History <small class="text-muted">(150) </small></a>
            <a href="#" class="list-group-item list-group-item-action"> Comedy <small class="text-muted">(150) </small></a>
            <a href="#" class="list-group-item list-group-item-action"> Sci-fi <small class="text-muted">(150) </small></a>
            <a href="#" class="list-group-item list-group-item-action"> Honor <small class="text-muted">(11)</small></a>
            <a href="#" class="list-group-item list-group-item-action"> Thrills <small class="text-muted">(22)</small></a>
        </div>
    </div>
}
