
/*Header CSS*/

header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 72px;
}


header .container .row .logo {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 72px;

}

header .logo h3 {
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0px;
}



header .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 13px;
}


header .menu ul {
    display: flex;
    /* justify-content: center; */
    margin-bottom: 0px;
    padding-left: 0;
}

header .menu ul li {
    list-style-type: none; 

}

header .menu ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 16px;
    padding: 6px 10px;
}


header .input-group {
    margin: 14px 14px;
    width: 330px;
}

header .right-header {
    display: flex;
    justify-content: end;
    align-items: center;
}


header .right-header a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    background: rebeccapurple;
    border-radius: 4px;
    padding: 11px 14px;
}


/* Footer CSS */

footer {
    background: #fff;
    padding: 40px;
    border-top: 1px solid #ccc;
}

footer .contact {
    padding-left: 36px;
}

footer .contact ul {
    padding-left: 0;
    margin-bottom: 0;
}

footer .contact ul li {
    list-style: none;
}

footer .contact ul li a {
    text-decoration: none;
    color: #686868;
    font-size: 16px;
}



/*Block Product */

.block-product {
    width: 230px;
    height: auto;
    text-decoration: none;
    flex-wrap: wrap;
}

.block-product .ImageCover {
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F2F2F2;
}

.block-product .ImageCover img {
    width: 160px; 
    height: auto;
}

.block-product h4 {
    margin-top: 12px;
    font-size: 17px;
    color: #000;
    margin-bottom: 5px;
}

.block-product p {
    font-size: 10px;
    color: #6e6e6e;
    margin-bottom: 5px;
}

.block-product .PriceButton p {
    font-size: 24px;
    font-weight: 600;
    color: #CE0021;
}


.block-products {
    justify-content: center;
    margin: 27px 5px;
}

.block-products h2 {
    padding-left: 45px;
    margin-top: 38px; 
}

.block-products .filter {
    display: flex;    
    padding-left: 26px;
    margin-top: 12px;
    margin-bottom: 30px; 
}

.block-products .filter li {
    list-style-type: none;
}

.block-products .filter li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    padding: 12px 24px; 
}

.block-products .filter li a:hover {
    border-bottom: 4px solid #0076ad;
    color: #0076ad;
}

.products .container .row {
    justify-content: center;
}

.products .container .row .block-product {
    
}

.products {
    background: #fff;
}


/*Category CSS*/

.block-products .categories .child-categories {
    padding-left: 16px;
    background: #fff;
    
}

.block-products .categories .child-categories {
    width: 95%;
    height: 100%
}

.block-products .categories .child-categories h3 {
    padding-top: 34px;
}

.block-products .categories ul {
    padding-left: 0;
    margin-bottom: 0;
}

.block-products .categories ul li {
    list-style-type: none;
    padding: 3px 0;
}

.block-products .categories ul li a {
    text-decoration: none;
    color: #000;
    padding-right: 36px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 14px;
}



/*Detail Product CSS */

.container .detail-product {
    background: #fff;
    border-radius: 4px;
    padding: 60px 16px;
    margin-top: 30px;
}

.container .detail-product img {
    width: 80%;
}

.container .detail-product .product-image {
    display: flex; 
    justify-content: center;
}

.container .detail-product .product-info h1 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 30px;
    letter-spacing: 4px;
}


    .container .detail-product .product-info > p {
        color: #6b7280;
        font-style: italic;
        font-size: 20px;
    }

.container .detail-product .product-info > p > span {
    color: #333;
}

.container .detail-product .product-info .description {
    color: #333; 
    font-style: normal;
}

.container .detail-product .product-info .addToCart {
    text-decoration: none;
    color: #fff;
    background: blueviolet;
    padding: 17px 35px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 20px;
}


.container .detail-product .product-info .addToCart:hover {
    color: blueviolet;
    background: #fff;
    border: 2px solid blueviolet;
}


/*****************globals*************/
html {
    background: #fff;
}

body {
    font-family: 'open sans';
<<<<<<< HEAD
    overflow-x: hidden; 
    margin-bottom:0;
}

.img-custom {
    max-width: 70%;
    max-height: 50%;
=======
    background-color: #f2f2f2;
    margin-bottom: 0;
    overflow-x: hidden;
>>>>>>> b4a5b737d567036eb22adb4eb112f7e13bda9b39
}

.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px; } }

.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }

.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px; }
.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block; }
.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0; }
.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0; }

.tab-content {
    overflow: hidden; }
.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s; }

.card-custom {
    margin-top: 50px;
    background: #eee;
    padding: 5em;
    line-height: 1em; }

@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; } }

.details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }


.product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold; }

.checked, .price span {
    color: #ff9f1a; }

.product-title, .product-description {
    margin-bottom: 15px; }

.product-title {
    margin-top: 0; }





.add-to-cart, .like {
    background: #ff9f1a;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
    transition: background .3s ease; }
.add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
    text-align: center;
    line-height: 2em; }


.orange {
    background: #ff9f1a; }

.green {
    background: #85ad00; }

.blue {
    background: #0076ad; }

.tooltip-inner {
    padding: 1.3em; }

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3); }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1); } }

@keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3); }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1); } }

.price{
    font-size:25px ;
}
.product-title{
    font-size:45px ;
}
.product-description{
    font-size: 20px;
    line-height: 1.4;
}




/*# sourceMappingURL=style.css.map */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

body {
    font-family: 'Manrope', sans-serif;
}

.size span {
    font-size: 11px;
}

.color span {
    font-size: 11px;
}

.product-deta {
    margin-right: 70px;
}

.gift-card:focus {
    box-shadow: none;
}

.pay-button {
    color: #fff;
}

.pay-button:hover {
    color: #fff;
}

.pay-button:focus {
    color: #fff;
    box-shadow: none;
}

.text-grey {
    color: #a39f9f;
}

.qty i {
    font-size: 11px;
}


/*----------*/
.product-item{
    border: 1px solid rgb(219, 219, 219);
}
.product-img{
    position: relative;
    overflow: hidden;
}

.related-product-link{
    text-decoration:none;
    color:#fff;
}
.btns {
    position: absolute;
    left: 0;
    bottom: -100%;
    font-size: 15px;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
}
.btns button{
    border: none;
    background-color: rgb(39, 39, 39);
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.btns button:hover{
    color: #fcb941;
}
.product-img:hover .btns{
    bottom: 0;
}

.heart-icon{
    position: absolute;
    top: 16px;
    right: 15px;
    font-size: 18px;
}

.product-type{
    font-size: 13px;
    opacity: 0.8;
}
.product-name{
    transition: all 0.3s ease-in-out;
    font-size:16px;
}
.product-name:hover{
    color: #fcb941!important;
}
.product-price{
    color: #fcb941;
    font-size:16px;
}
.rating{
    font-size: 13px;
}
.product-item{
    width: 250px;
}

.product-info{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background:#fff;
  gap:10px;
}